#avengers {
    background-color: darkblue;
    font-size: 20px;
}
#justice_league {
    background-color: darkblue;
    font-size: 20px;
}
.theme_play {
    font-size: 20px;
}
body {
    background-size: cover;
}